In [ ]:
import pandas as pd

In [ ]:
path_Dataset = "/content/21.7. Jumlah Tenaga Kerja Menurut Jenis Komoditi Industri Unggulan di Kab Cirebon.csv"

In [ ]:
df = pd.read_csv(path_Dataset)

In [ ]:
df.head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,unit_usaha,jumlah_tenaga_kerja,satuan,tahun
0,32,JAWA BARAT,3209,KABUPATEN CIREBON,MEUBEUL/ KERAJINAN ROTAN,63768,ORANG,2021
1,32,JAWA BARAT,3209,KABUPATEN CIREBON,MEUBEUL KAYU,11986,ORANG,2021
2,32,JAWA BARAT,3209,KABUPATEN CIREBON,EMPING MELINJO,1377,ORANG,2021
3,32,JAWA BARAT,3209,KABUPATEN CIREBON,ROTI DAN MAKANAN RINGAN,12266,ORANG,2021
4,32,JAWA BARAT,3209,KABUPATEN CIREBON,BATU ALAM,1982,ORANG,2021